// COLOR SYSTEM BY CODEPELAJAR.COM

$green-100: rgba(46, 204, 113, 1);
$green-75: rgba(46, 204, 113, 0.75);
$green-50: rgba(46, 204, 113, 0.5);
$green-25: rgba(46, 204, 113, 0.25);
$green-15: rgba(46, 204, 113, 0.15);
$green-toska-100: rgba(38, 166, 154, 1);
$green-toska-75: rgba(38, 166, 154, 0.75);
$green-toska-50: rgba(38, 166, 154, 0.5);
$green-toska-25: rgba(38, 166, 154, 0.25);
$green-toska-15: rgba(38, 166, 154, 0.15);
$blue-100: rgba(41, 121, 255, 1);
$blue-75: rgba(41, 121, 255, 0.75);
$blue-50: rgba(41, 121, 255, 0.5);
$blue-25: rgba(41, 121, 255, 0.25);
$blue-15: rgba(41, 121, 255, 0.15);
$dark-100: rgba(40, 44, 52, 1);
$dark-75: rgba(40, 44, 52, 0.75);
$dark-50: rgba(40, 44, 52, 0.5);
$dark-25: rgba(40, 44, 52, 0.25);
$dark-15: rgba(40, 44, 52, 0.15);
$red-100: rgba(229, 57, 53, 1);
$red-75: rgba(229, 57, 53, 0.75);
$red-50: rgba(229, 57, 53, 0.5);
$red-25: rgba(229, 57, 53, 0.25);
$red-15: rgba(229, 57, 53, 0.15);
$light-100: rgba(255, 255, 255, 1);
$light-75: rgba(255, 255, 255, 0.75);
$light-50: rgba(255, 255, 255, 0.5);
$light-25: rgba(255, 255, 255, 0.25);
$light-15: rgba(255, 255, 255, 0.15);
$grey-100: rgba(222, 222, 222, 1);
$grey-75: rgba(222, 222, 222, 0.75);
$grey-50: rgba(222, 222, 222, 0.5);
$grey-25: rgba(222, 222, 222, 0.25);
$grey-15: rgba(222, 222, 222, 0.15);
$orange-100: rgba(255, 194, 51, 1);
$orange-75: rgba(255, 194, 51, 0.75);
$orange-50: rgba(255, 194, 51, 0.5);
$orange-25: rgba(255, 194, 51, 0.25);
$orange-15: rgba(255, 194, 51, 0.15);
$cyan-100: rgba(51, 234, 255, 1);
$cyan-75: rgba(51, 234, 255, 0.75);
$cyan-50: rgba(51, 234, 255, 0.5);
$cyan-25: rgba(51, 234, 255, 0.25);
$cyan-15: rgba(51, 234, 255, 0.15);
