.sidebar {
  &__Inner {
    background: #fff;
    height: 100%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  }
  &__brandTitle {
    justify-content: space-between;
    padding: 14px;
  }
}

.m-navigation {
  &__groupNav {
    padding: 1rem;
    background-color: #eee;
  }
  &__navItem {
    width: 100%;
    justify-content: space-between;
    transition: all 0.25s ease;
    a {
      padding: 10px;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      display: block;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: inherit;
      opacity: 0.8;
      font-size: 0.85rem;
      text-decoration: none;
    }
    &:hover {
      transform: translateX(5px);
      transition: all 0.25s ease;
    }
  }
  .active {
    transform: unset;
    a {
      border-radius: 4px;
      padding: 8px 12px;
      box-shadow: 0 0 10px 1px #948bf4;
      background: #948bf4;
      color: #fff;
      opacity: 1;
    }
  }
}
